 {%load static%}
 <!-- footer area start -->
 <footer class="eb_h3-footer-area"  id="footer">
    <div class="eb_h3-footer-top pt-110 pb-80">
        <img src="{%static 'images/bg/h3_footer-shape.png'%}" alt="" class="eb_h3-footer-shape-1">
        <img src="{%static 'assets/images/bg/h3_footer-shape-2.png'%}" alt="" class="eb_h3-footer-shape-2">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-7">
                    <div class="eb_h3-footer-widget1 mb-30">
                        <div class="eb_h3-footer-logo">
                            <a href="index-3.html"><img src="{%static 'images/logo/logo-6.jpg'%}" alt=""></a>
                        </div>
                        <div class="eb_h3-footer-address">
                            <a href="#"><i class="fa-solid fa-location-dot"></i>Lagos</a>
                            <a href="mailto:seernation@outlook.com"><i class="fa-solid fa-envelope"></i>seernation@outlook.com</a>
                            <a href="tel:+2348027243616"><i class="fa-solid fa-phone"></i>+234 802 724 3616 <br> +234 703 826 5960 <br>+234 816 975 2885</a>
                        </div>
                        <div class="eb_h3-footer-social">
                            <ul>
                                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-sm-5">
                    <div class="eb_h3-footer-widget mb-30">
                        <h3 class="eb_h3-footer-widget-title">Services</h3>
                        <ul>
                            <li><a href="#">Custom ERP & CRM Implementation</a></li>
                            <li><a href="#">Data Migration & Integration</a></li>
                            <li><a href="#">Business Process Optimization</a></li>
                            <li><a href="#">Advance analysis & Reporting</a></li>
                        </ul>
                    </div>
                </div>
               
                <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-7 order-lg-4 order-sm-3">
                    <div class="eb_h3-footer-widget mb-30">
                        <h3 class="eb_h3-footer-widget-title">Send Me Message</h3>
                                        <form action="#" class="contact-form" method="post" >
                                            <div class="row">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                    <div class="contact-form-input mb-30">
                                                        <input type="text" placeholder="Your Name">
                                                        <span class="inner-icon"><i class="fa-thin fa-user"></i></span>
                                                    </div>
                                                </div>
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                    <div class="contact-form-input mb-30">
                                                        <input type="email" placeholder="Email Address">
                                                        <span class="inner-icon"><i class="fa-thin fa-envelope"></i></span>
                                                    </div>
                                                </div>
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                                    <div class="contact-form-input mb-30">
                                                        <input type="text" placeholder="Your Number">
                                                        <span class="inner-icon"><i class="fa-thin fa-phone-volume"></i></span>
                                                    </div>
                                                </div>
                                                
                                                <div class="col-12">
                                                    <div class="contact-form-input mb-50 contact-form-textarea">
                                                        <textarea style="color: white; background-color: transparent; border: 1px solid white;" name="message" cols="30" rows="10" placeholder="Feel free to get in touch!"></textarea>
                                                        <span class="inner-icon"><i class="fa-thin fa-pen"></i></span>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="contact-form-submit mb-30">
                                                        <div class="contact-form-btn">
                                                            <a href="#" class="eb_h3-theme-btn contact-btn">Send Message</a>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="eb_h3-footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="eb_h3-footer-copyright-text">
                        <p>©{{year}} Seer Nation  All Rights Reserved </p>
                    </div>
                </div>
                <!-- <div class="col-md-6">
                    <div class="eb_h3-footer-menu">
                        <ul>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Term of Service</a></li>
                        </ul>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</footer>
<!-- footer area end -->