<nav id="mobile-menu">
    <ul>
        <li><a href="{%url 'index' %}">Home</a></li>
        <li class="menu-has-child">
            <a href="#">menu</a>
            <ul class="submenu">
                
                <li><a href="#service">Service</a></li>
                <li><a href="#team">team</a></li>
                
            </ul>
        </li>
       
       
        <li><a href="#project">Project</a></li>
        <li><a href="#about">About</a></li>
        <!-- <li><a href="#footer">Contact</a></li> -->
    </ul>
</nav>